.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 11;
}

.formContainer {
  height: 400px;
  width: 700px;
  background-color: white;
  cursor: default;
  z-index: 11;
  box-sizing: border-box;
}

.flex {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.formLeft {
  display: flex;
  flex-direction: column;
  width: 237px;
  height: 300px;
  gap: 20px;
}

.btn {
  padding: 5px;
  background-color: transparent;
  border: none;
}

.btn:hover {
  cursor: pointer;
  outline: 2px solid black;
}

.userLoc{
  border-right: 1px solid grey;
  width: 100%;
  padding: 10px;
}

.userLoc:hover{
  cursor: default;
}

.formRight {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

textarea {
  height: 100%;
  resize: none;
  border: none;
  padding: 10px;
}

.addButton {
  align-self: flex-end;
  width: 40px;
  height: 90px;
  border: none;
  outline: none;
  cursor: pointer;
}

.addButton:hover {
  outline: 2px solid black;
}

.background {
  background-color: #ded2d2;
}

.inputLeft {
  margin-top: 20px;
  height: 50px;
  background-color: #ded2d2;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.locationInput {
  margin-top: 20px;
  height: 60px;
  background-color: #ded2d2;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
